# IDEs
vscode/
.idea/

# Python venv
venv

# env files
.env

# Python __pycache__ directories.
__pycache__/

# logs
logs/

# test files
test*

# minio data
minio-data/

data/deepfake/embeddings.npy
data/deepfake/labels.npy
data/lfw_people/George_HW_Bush/embeddings.npy
data/lfw_people/George_HW_Bush/labels.npy
